<div style="background-color: rgba(224, 224, 224, 0.9)" class="pa-4 mt-16">
    <hr />
    <MudText Typo="Typo.body1" Align="Align.Center">
        Um trabalho de Sociedade e Tecnologia, matéria ministrada pela professora Karina Oliveira, na Fatec Americana, 1º semestre de 2024, ao curso de ADS
    </MudText>
    <MudText Typo="Typo.body1" Align="Align.Center">
        Trabalho realizado por Juan Marques, Lucas Araujo, Murilo Roseni e Willian dos Santos
    </MudText>
</div>