@page "/artigos"
@inject HttpClient Http
@using SociedadeTecnologia.Components
@using SociedadeTecnologia.Models

<div class="d-flex flex-column gap-8 my-8">
    @if (Articles is null)
    {
        <h1>Carregando...</h1>
    }
    else
    {
        @foreach (var article in Articles)
        {
            <MainArticleCardComponent Article=@article/>
        }
    }
    
</div>

@code
{
    private Article[]? Articles { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        Articles = await Http.GetFromJsonAsync<Article[]>("articles.json");
    }
}    
