@page "/"
@inject HttpClient Http
@using SociedadeTecnologia.Components
@using SociedadeTecnologia.Models

<PageTitle>Home</PageTitle>

<HeroComponent />

@if (@Articles is null)
{
    <h1>Carregando...</h1>
}
else
{
    <MainArticleCardComponent Article=@Articles[0] />
    
    <div class="d-flex my-6 flex-wrap flex-md-nowrap gap-4 justify-space-between" style="flex: 0 0 33.3333%;">
        @for (int i = 1; i < 4; i++)
        {
            <ArticleCardComponent Article=@Articles[i]/>
        }
    </div>

    <MainArticleCardComponent Article=@Articles[4] />
}

@code
{
    private Article[]? Articles { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        Articles = await Http.GetFromJsonAsync<Article[]>("articles.json");
    }
}
