@page "/"
@using SociedadeTecnologia.Components

<PageTitle>Home</PageTitle>

<Hero />

<MainCard Title="Entrevista com -----" />

<div class="d-flex my-6 flex-wrap flex-md-nowrap gap-2">
    <ArticleCards />
    <ArticleCards />
    <ArticleCards />
</div>

